<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="http://static.develop.zillow.net/static-zsg/LATEST/static-zsg/zsg/zsg-core.css" type="text/css" rel="stylesheet" media="all">	
  <link href="http://static.develop.zillow.net/static-zsg/LATEST/static-zsg/zsg/zsg-opt.css" type="text/css" rel="stylesheet" media="all">	

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script>
		var neighborhood_dict;
		var map;
		var markers = [];

		var default_price = '$200,000';
		var default_cap_rate = '2%';
		var default_cash_flow = '$2,000';
		var default_cash_on_cash = '5%';	
		var infoWindow;

		$(document).ready(function() {

			// create global info window that pops up when a property is clicked
			infoWindow = new google.maps.InfoWindow({disableAutoPan: true});

			// parse serialized json object containing neighborhood data
			var escaped_json = '{{neighborhood_json}}';
			var cleansed_json = escaped_json.replace(new RegExp('&quot;', 'g'), '\"');

			neighborhood_dict = JSON.parse(cleansed_json);

			// initialize tooltips for filter form
			var yearly_cash_flow = 'Total income - total expenses (including mortgage payment)';
			$('#cash_flow').attr('title', yearly_cash_flow);
			$('#cash_flow').tooltip({});

			var cap_rate = 'Total income - total expenses (excluding mortgage payment) / offer price';
			$("#cap_rate").attr('title', cap_rate);
			$('#cap_rate').tooltip({});

			var cash_on_cash = 'Total income - total expenses (including mortgage payment) / total capital expenditure';
			$("#cash_on_cash").attr('title', cash_on_cash);
			$('#cash_on_cash').tooltip({});

			// disable filter click handler
			$('#disable_filters').click(function(e) {
				$('#price').prop('disabled', true)
				$('#cash_flow').prop('disabled', true);
				$('#cap_rate').prop('disabled', true);
				$('#cash_on_cash').prop('disabled', true);
				
				$('#apply_filter').html('Enable Filters');
			});

			// enable/apply filter click handler
			$('#apply_filter').click(function(e) {
				$('#price').prop('disabled', false)
				$('#cash_flow').prop('disabled', false);
				$('#cap_rate').prop('disabled', false);
				$('#cash_on_cash').prop('disabled', false);

				$('#apply_filter').html('Apply Filters');
			
		});

		// block page refresh on form submit and apply filter to displayed properties
		$("#filter_form").submit(function(e) {
			e.preventDefault();
			var active_pane = $('#neighborhood_panes').find(".active")[0];
			neighborhoodClickHandler($(active_pane).attr('id'));
		});

	});
	 // initialize google map centered on seattle
	 function initMap() {
	 	var seattle = {lat: 47.6062, lng: -122.3321};

	 	map = new google.maps.Map(document.getElementById('map'), {
	 		zoom: 13,
	 		center: seattle
	 	});
	 };
	 // assumes 30 year fixed mortgage with 20% down at the current prevailing rate (pulled from pogo)
	 function getMonthlyMortgage(price) {
	 	var monthly_rate = parseFloat(neighborhood_dict['mortgage_rate']) / (12.0 * 100.0);
	 	var monthly_mortgage = .8 * price * ((monthly_rate * Math.pow((1 + monthly_rate), 30 * 12)) / (Math.pow((1 + monthly_rate), 30 * 12) - 1));
	 	return monthly_mortgage;
	 };


	// check whether a given property satisifes the user's filter metrics
	function filter(property) {
		if ($('#price').val() != '' && !$('#price').prop('disabled')) {
			var max_price = Number($('#price').val().replace(/[^0-9\.]+/g,""));
			if (max_price < property.price) {
				return false;
			}
		}

		if ($('#cap_rate').val() != '' && !$('#cap_rate').prop('disabled')) {
			var min_cap_rate = parseFloat($('#cap_rate').val()) / 100.0;
			var property_cap_rate = (property.restimate * 12 - property.yearly_taxes) / property.price;
			if (min_cap_rate > property_cap_rate) {
				return false;
			}
		}

		if ($('#cash_flow').val() != '' && !$('#cash_flow').prop('disabled')) {

			var monthly_mortgage = getMonthlyMortgage(property.price);
			var min_yearly_cash_flow = Number($('#cash_flow').val().replace(/[^0-9\.]+/g,""));
			var property_cash_flow = (property.restimate * 12) - property.yearly_taxes - (monthly_mortgage * 12);
			
			if (min_yearly_cash_flow > property_cash_flow) {
				return false;
			} 

		}

		if ($('#cash_on_cash').val() != '' && !$('#cash_on_cash').prop('disabled')) {
			var min_cash_on_cash = parseFloat($('#cash_on_cash').val()) / 100.0;
			var monthly_mortgage = getMonthlyMortgage(property.price);

			var property_cash_on_cash = (property.restimate * 12 - property.yearly_taxes - monthly_mortgage * 12) / (property.price * .2);
			if (min_cash_on_cash > property_cash_on_cash) {
				return false;
			}
		}


		return true;
	};
	// delete all markers on the map each time a new neighborhood is selected
	function deleteMarkers() {
		for (var i = 0; i < markers.length; i++) {
			var marker = markers[i];
			marker.setMap(null);
		};
		markers = [];
	};

	// add the appropriate properties to the map each time a new neighborhood is selected
	function neighborhoodClickHandler(id) {
		deleteMarkers();

		var properties = neighborhood_dict[id].properties;

		var count = 0.0;
		var total_lat = 0.0;
		var total_long = 0.0;

		for (var i = 0; i < properties.length; i++) {
			var property = properties[i];
			count++;

			var latitude = parseFloat(property.latitude);
			total_lat += latitude;
			var longitude = parseFloat(property.longitude);
			total_long += longitude;
			if (filter(property)) {
				addMarker(property);
			}
		};
		// re-center the map
		if (count > 0) {

			var avg_lat = total_lat / count;
			var avg_long = total_long / count;

			var latlng = new google.maps.LatLng(avg_lat, avg_long);

			map.setCenter(latlng);

		}
	};

	function formatToDollars(dollars) {
		if (!dollars) {
			return '$0';
		}
		return '$' + dollars.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
	}

	// add a marker to the map
	function addMarker(property) {
		var latitude = parseFloat(property.latitude)
		var longitude = parseFloat(property.longitude)

		var latlng = new google.maps.LatLng(latitude, longitude);

		var marker = new google.maps.Marker({
			position: latlng,
			title: name,
			map: map
		});

		marker.addListener('click', function() {
			var monthly_mortgage = getMonthlyMortgage(property.price);

			content_string = '<div>Price: ' + formatToDollars(property.price) + '<br>';
			content_string += 'Rent: ' + formatToDollars(property.restimate) + '<br>';

			var cash_flow = parseInt(property.restimate * 12) - parseInt(property.yearly_taxes) - parseInt(monthly_mortgage * 12);
			content_string += 'Yearly Cash Flow: ' + formatToDollars(cash_flow);
			content_string += '<br><a href="http://www.zillow.com/homes/' + property.zpid + '_zpid/">Home Detail Page</a>';
			
			infoWindow.close();

			infoWindow.setContent(content_string);

			infoWindow.open(map, marker);
		});

		markers.push(marker);
	}
</script>
</head>

<style>
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	#map {
		height: 50%;
		width: 100%;
	}
	.right {
		float: right;
	}
</style>
<body>
  <div class="zsg-layout-width">
    <div class="zsg-layout-content">
      <h1 style="margin-top: 50px">
        <i class="zsg-icon-zlogo" style="font-size: 35px; color: rgb(0, 116, 228); vertical-align: middle; margin-right: 5px;"></i>   
        Zinvestor Tools
      </h1>
        <div class="zsg-g">
          <div class="zsg-lg-1-2">
            <!-- begin neighborhood tabs -->
            <ul class="nav nav-tabs">
              <li class="dropdown" id='neighborhood_dropdown'><a data-toggle="dropdown" class="dropdown-toggle" href="#">Neighborhoods<b class="caret"></b></a>            
                <ul class="dropdown-menu">
                  {% for neighborhood in neighborhood_dict.values %}
                    {% if neighborhood.id %}
                    <li onclick="neighborhoodClickHandler('{{neighborhood.id}}')"><a data-toggle="tab" href="#{{neighborhood.id}}">{{neighborhood.name}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <!-- end neighborhood tabs -->
            <!-- begin neighborhood panes -->
            <div class="tab-content" id='neighborhood_panes'>
              {% for neighborhood in neighborhood_dict.values %}
                <div id="{{neighborhood.id}}" class="tab-pane fade {%if forloop.first%}active in{% endif %}">
                  <h2>{{neighborhood.name}}</h2>
			<ul class="list-group col-sm-9">
				<li class="list-group-item alert alert-info" role="alert"><b>Renter Profile</b></li>
				<li class='list-group-item'> Median Monthly Income: <span class='right'>${{  neighborhood.neighborhood_attributes.median_monthly_income }} </span></li>
				<li class='list-group-item'>  Credit Score over 700: <span class='right'>{{ neighborhood.neighborhood_attributes.percent_credit_score_over_700}}% </span></li>
				<li class='list-group-item'>  Want a Long Term Lease: <span class='right'>{{ neighborhood.neighborhood_attributes.percent_long_term_lease }}%</span></li>
				<li class='list-group-item'>  Flexible Move In Date: <span class='right'>{{ neighborhood.neighborhood_attributes.percent_flexible_move_in_date}}%</span></li>
				<li class='list-group-item'>  Want More than One Bed: <span class='right'>{{ neighborhood.neighborhood_attributes.percent_more_than_one_bed}}%</span></li>
				<li class='list-group-item'>  Inquiries per Rental: <span class='right'>{{ neighborhood.neighborhood_attributes.num_contacts_per_rental}}</span></li>
			</ul>
			<img src='static/images/{{neighborhood.neighborhood_attributes.region_id}}.png' height="199px" width="303px"/>
			</div>
              {% endfor %}
            </div>
            <!-- end neighborhood panes -->
          </div>
        <div class="zsg-lg-1-2">
          <!-- begin filter form -->
          <div class="zsg-g">
            <form class="zsg-form" id='filter_form'>
              <div class='zsg-lg-1-2'>
                <div class="form-group">
                  <label for="price">Maximum Price</label>
                  <input type="text" class="form-control" id="price" value="$500,000">
                </div>
                <div class="form-group">
                  <label for="cap_rate">Minimum Cap Rate</label>
                  <input type="text" class="form-control" id="cap_rate" value="0%">
                </div>
                <button type="submit" class="zsg-button zsg-button_ghost" id='disable_filters'>Disable Filters</button>
              </div>
              <div class='zsg-lg-1-2'>
                <div class="form-group">
                  <label for="cash_flow">Minimum Yearly Cash Flow</label>
                  <input type="text" class="form-control" id="cash_flow" value="$0">
                </div>
                <div class="form-group">
                  <label for="cash_on_cash">Minimum Cash on Cash Return</label>
                  <input type="text" class="form-control" id="cash_on_cash" value="0%">
                </div>
                <button type="submit" class="zsg-button_primary right" id='apply_filter'>Apply Filters</button>
              </div>
            </form>
          </div>
          <!-- end filter form -->
          <!-- begin map -->
          <div>
            <body>
              <div id="map"></div>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiC_XvLeVa59a5tjRsL1Xfo0eE0zHJRG0&callback=initMap">
              </script>
            </body>
          </div>
          <!-- end map -->
        </div>
        <br>
      </div>
      </div>
    </div>
    <footer class="zsg-subfooter" style="margin-top: 30px;">
      <div class="zsg-subfooter-content">
        <div class="zsg-g">
          <div class="zsg-lg-1-4 zsg-md-1-2 zsg-sm-1-1">
            <h6 class="zsg-subfooter-header">Zillow Hackweek 12 Project</h6>
          </div>
          <div class="zsg-lg-1-4 zsg-md-1-2 zsg-sm-1-1"></div>
          <div class="zsg-lg-1-4 zsg-md-1-2 zsg-sm-1-1">
                <h6 class="zsg-subfooter-header">Team Members</h6>
                <ul class="zsg-subfooter-linklist">
                    <li><a>Rohan Alur <span class='right'>Branden Arnold</span></a></li>
                    <li><a>Calvin Hohener <span class='right'>Lauren Bretz</span></a></li>
                    <li><a>Jia Pan <span class='right'>Oktavianus Ludiro</span></a></li>
                </ul>
            </div>
      </div>
    </footer>
  </div>
</body>
</html>
